@model List<Model.Entity_Type_Attr_Detail>

<form id="formid">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0">
        <tr style="width:100%;height:31px;">
            <td colspan="2" style="padding-left:5px">

                @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
                {

                    <label style="color:red;font-family:Georgia;font-size:13pt;font-weight:bold">@Context.Session.GetString("SelectedDimensionData").ToString() ></label>
                    <label style="color:black;font-family:Georgia;font-weight:bold">@Context.Session.GetString("EntityName").ToString()</label>
                }
            </td>
        </tr>
        <tr style="width:100%">
            <td colspan="2">

                <hr />
            </td>

        </tr>

        <tr style="width:100%; height:25px">
            <td colspan="2" style="width: 100%;padding-left:10px;padding-top:8px;" align="left">
                <label style="color:red;font-size:12pt;font-weight:bold">Import</label>
            </td>
        </tr>
        <tr style="width:100%;">
            <td colspan="2" style="padding-left:10px;padding-right:10px;padding-bottom:20px" valign="top">
                <hr style="width:100%;height:2px;background-color:red;" />
            </td>
        </tr>
        <tr style="width: 100%;padding-top:8px;">
            <td style="width: 50%;padding-left:270px;">
                <label id="lblSelectAll" CssClass="editlabel">Select All :</label>
            </td>
            <td style="width: 50%" align="left">
                @Html.CheckBox("chkSelectAll", new { @class = "chkSelectAll" })
            </td>
        </tr>
        @foreach (var menuOption in Model)
        {


            if (@menuOption.Isvisible != "N")
            {
                <tr style="width: 100%;padding-top:8px;">

                    <td style="width: 50%;padding-left:270px;">
                        <label id=@menuOption.AttrName CssClass="editlabel">
                            @menuOption.AttrDisplayName :
                        </label>

                    </td>
                    <td style="width: 50%" align="left">
                        @if (@menuOption.AttrDataType == "SUPPLIED_CODE")
                        {
                            @Html.CheckBox(@menuOption.AttrName, new { @class = "checkbox", @checked = true, @disabled = true })
                        }
                        else
                        {
                            @Html.CheckBox(@menuOption.AttrName, new { @class = "label" })
                        }
                        <label style="color:red">*</label>
                        @if (@menuOption.AttrDisplayName.ToUpper() == "SORT ORDER")
                        {
                            <label id="lblSORT_ORDER_format" class="hintlabel">&nbsp;(9999999999)</label>

                        }
                    </td>

                </tr>
            }
        }
        <tr style="width: 100%;padding-top:8px;">

            <td style="width: 50%;padding-left:270px;">
                <label id="lblEffectiveDate" CssClass="editlabel">
                    Effective Date :
                </label>

            </td>
            <td style="width: 50%" align="left">
                @Html.CheckBox("DATE_FROM", new { @class = "label" })
                <label class="hintlabel">(MM/DD/YYYY)</label>
            </td>
        </tr>
        <tr style="width: 100%;padding-top:8px;">
            <td style="width: 50%;padding-left:270px;">
                <label CssClass="editlabel">
                    File Type  :
                </label>

            </td>
            <td style="width: 50%;padding-left:4px;" align="left">
                @Html.DropDownList("ddlFileFormat", new List<SelectListItem>
                { /*new SelectListItem{Text="Excel", Value="Excel"},*/
                new SelectListItem{Text="Csv", Value="Csv"}},new {@class = "editdropdown",@id = "ddlFileFormat" })

            </td>
        </tr>

    </table>
    <table style="width:100%;padding-top:10px;" border="0" cellpadding="0" cellspacing="0">
        <tr style="width: 100%;padding-top:8px">
            <td style="width: 50%;padding-left:270px;"></td>
            <td style="width: 50%;padding-left:3px" align="left">
                <input type="file" name="file" id="file" />

            </td>
        </tr>
        <tr align="center" style="width: 100%">
            <td style="width: 50%" align="right"></td>
            <td style="width: 50%" align="left">
                <button type="submit" class="button" id="btnImport" style="width:80px; margin-right: 30px;" name="Command" value="Import">
                    <img src="~/images/import_button1.png" />
                </button>
                <button type="submit" class="button" id="btnCancel" style="width:80px" name="Command" value="Cancel">
                    <img src="~/Images/Cancel.png" />
                </button>

            </td>

        </tr>
        <tr style="padding-top:15px">
            <td style="width: 8%" align="right" valign="top">
                <label style="font-weight:bold">Note :</label>
            </td>
            <td align="left" style="width:92%;padding-top:18px">
                <label style="font-family:Verdhana;font-size:small;font-style:italic">
                    Header Format should be
                    @foreach (var menuOption in Model)
                    {
                        <label>@menuOption.AttrName.ToString()</label>
                        <label>,</label>
                    }
                    DATE_FROM
                </label>
            </td>
        </tr>
        <tr align="center" style="width:100%">
            <td colspan="2" style="width:100%" align="center">

                <div style="display:none" id="
                     ">
                    <img src="~/Images/spinner.gif" Height="54px" Width="86px" alt="Loading, please wait" />
                </div>

            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnImport").click(function () {
            if (!confirm("Are you sure you want to Import?")) {
                return false;
            }
        });
        $("#btnCancel").click(function () {
            $('#AttributeDetail').html();
            $('#viewPlaceHolder').html();

        });
        $("#chkSelectAll").change(function () {
            var status = this.checked;
            $('.label').each(function () {
                this.checked = status;
            });
        });
    });
    $('#formid').on('submit', submitFormWithAjax);

    function submitFormWithAjax(event) {
        event.preventDefault();

        let form = new FormData();
        $('#formid input, #formid select').each(function () {
            if ($(this).attr('type') === 'checkbox') {
                form.append($(this).attr('name'), $(this).prop('checked'));
            }
        });
        form.append("Command", $(document.activeElement).attr("value"));
        form.append("file", $("#file").get(0).files[0]);
        form.append("ddlFileFormat", $("#ddlFileFormat").val());

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ImportData", "Import")',
            data: form,
            processData: false,
            contentType: false,
            success: function (data) {
                onSuccess(data);
            },
            error: function (err) {
                alert(result.replace("error", ""));
            }
        });

        function onSuccess(result) {
            if (result.indexOf("error") == 0) {
                alert(result.replace("error", ""));
            }
            else if (result.indexOf("success") == 0) {
                alert(result.replace("success", ""));
                $.post('@Url.Action("ShowAttribute", "Menu")', { entityTypeId: '@Context.Session.GetInt32("EntityTypeID")', entityName: '@Context.Session.GetString("EntityName")', viewType: "search" },
                    function (data) {
                        if (data.indexOf("Access denied") > -1) {
                            alert(data);
                        }
                        else {
                            $('#AttributeDetail').empty();

                            $('#AttributeDetail').html(data);

                            $('#lblcaption').html('@Context.Session.GetString("EntityName")');
                            $('#viewPlaceHolder').empty();
                        }

                    });
            }
            else if (result.indexOf("import") == 0) {
                //window.location.href = 'MPP/Import/Download?path=' + result;
                window.location.href = 'Import/Download?path=' + result;

                alert("Please refer downloaded file for rejected records");
            }
            else {
                $('#AttributeDetail').empty();
                $('#viewPlaceHolder').empty();

                $('#AttributeDetail').html(result);
            }
        }
    }



</script>






