@model Model.UserInfo

    <div class="card box-shadow">
    <div class="card-header">
        <h5 class="mb-0" id="lblcaption">User Details</h5>
    </div>
        <div class="card-body">
            <div class="row form-group">          
        @if (Convert.ToString(TempData["IsSearch"]) != "1")
        {
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label class="editlabel">User ID <span style="color:red">*</span></label>
                            <input type="text" id="txtUserId" readonly class="edittxtfield form-control" style="font-family:Verdana;" maxlength="100" value=@Model.UserID>
                            
                        </div>
           
        }
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="editlabel">User Name</label>
                    <input type="text" id="txtUserName" value=@Model.UserName readonly class="edittxtfield form-control" style="font-family:Verdana;" width="175px" maxlength="100" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="editlabel">User Email <span style="color:red">*</span></label>
                    <input type="text" id="txtUserEmail" value=@Model.UserEmail readonly class="edittxtfield form-control" style="font-family:Verdana;" width="175px" maxlength="100" />
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label class="editlabel">Is Active</label>
                        @if (Model.IsActive == 1 || Convert.ToString(TempData["IsSearch"]) == "1")
                        {
                            @Html.CheckBox("chkIsActive", new { @class = "label", @checked = true })
                        }
                        else
                        {
                            @Html.CheckBox("chkIsActive", new { @class = "label" })
                        }
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label class="editlabel">Is Admin</label>
                        @if (Model.IsAdmin == 1)
                        {
                            @Html.CheckBox("chkIsAdmin", new { @class = "label", @checked = true })
                        }
                        else
                        {
                            @Html.CheckBox("chkIsAdmin", new { @class = "label" })
                        }
                    </div>
                    
       
            </div>
        </div>
    </div>
    @if (Convert.ToString(TempData["IsSearch"]) == "1")
    {
        <div class="col">
        <input type="button" id="btnSaveNewUser" value="submit" class="btn btn-primary" alt="Cancel">
        </div>
        @* <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr  style="width: 100%;padding-top:10px">
                <td style="width: 100%" align="center">
                    
                </td>
            </tr>
            <tr align="center" style="width: 100%;padding-top:10px">
                <td style="width: 100%" ></td>
            </tr>
        </table> *@
    }
    @if (Convert.ToString(TempData["IsSearch"]) == "0")
    {
    <div class="panelDataGridWithMaxWidth card box-shadow mt-4" id="leftBar">
        <div class="card-header">
            <h5 class="mb-0" id="lblcaption">User Privilege</h5>
        </div>
        <div class="card-body">
            <div class="form-group form-group col-sm-3 col-md-3 col-lg-3 col-xs-12 mx-auto mb-3">
               
                    <label>Dimension</label>
                    @Html.DropDownList("ddlDimensionList", Model.dimnesionList.Select(item => new SelectListItem
           {
               Value = item.DimensionDisplayName.ToString(),
               Text = item.DimensionDisplayName.ToString()
           }), "--Select--", new { @class = "dropdownchange form-control" })
            </div>   
                <div id="divEntityDetail" class="table-responsive"></div>
           @*  <table width="100%" border="0" cellspacing="0" cellpadding="0"> *@
                @* <tr align="center" style="width:100%; height:25px" class="whiteTextNormal">
                    <td colspan="4" rowspan="1" style="width: 100%" align="left">
                        <label style="font-size:small;font-weight:normal;color:red;font-family:Arial Black">
                            
                        </label>

                    </td>
                </tr> *@
                @* <tr align="center" style="width: 100%; height: 5px">
                    <td style="padding-left: 10px; padding-right: 10px; padding-bottom: 20px" valign="top" align="right">
                        <hr style="width: 100%; height: 2px; background-color: red;" />
                    </td>
                </tr> *@
               @*  <tr  style="width:100%" >
                    <td style="width: 100%;padding-left:20px;height:auto" align="left">
                        <br /> *@
                        


                        <div class="col">
                                        <input type="button" id="btnSave" value="submit" class="btn btn-primary" alt="save">
                            
                            
                        </div>
                   @*  </td>
                </tr>
            </table> *@
            </div>
            </div>
        
    }

    <script>
        $("#btnSaveNewUser").click(function () {
            var selectedUserName = $("#ddlUserList option:selected").text();
            var userId = $("#txtUserIdForNewUser").val();
            var name = $('#txtUserName').val();
            var email = $('#txtUserEmail').val();

            var isActive = $("#chkIsActive")[0].checked;
            var isAdmin = $("#chkIsAdmin")[0].checked;
            $.post('@Url.Action("SaveUser", "Admin")', { UserId: userId, UserName: name, EmailId: email, IsActive: isActive, IsAdmin: isAdmin },
          function (data) {
              if (data.indexOf("error") == 0) {
                  alert(data.replace("error", ""));
                  return;
              }
              if (data == "success") {
                  alert("User Saved SuccessFully");
                  $.post('@Url.Action("GetAllUsers", "Admin")',
                         function (data) {
                             if (data.indexOf("error") == 0) {
                                 alert(data.replace("error", ""))
                             }
                             else {

                                 $('#divDisplayAllUsers').html(data);

                             }

                         });
                  $.post('@Url.Action("GetNewUserIndex", "Admin")', { newUserId: userId },
                       function (data) {
                           if (data.indexOf("error") == 0) {
                               alert(data.replace("error", ""));
                           }
                           else {
                               $('#ddlUserList')[0].selectedIndex = data;

                           }

                       });

                  $.post('@Url.Action("GetUserDetails", "Admin")', { userId: userId },
                         function (data) {
                             if (data.indexOf("error") == 0) {
                                 alert(data.replace("error", ""));
                             }
                             else {

                                 $('#divUserDetails').empty();

                                 $('#divUserDetails').html(data);


                             }

                         });



              }
          });
        });
        $("#btnSave").click(function () {

            var dimensionName = $("#ddlDimensionList option:selected").text();

            var isReadFlagChecked = [];
            var isUpdateFlagChecked = [];
            var isCeateFlagChecked = [];
            var isImportFlagChecked = [];
            var RoleList = [];
            var i = 0;
            var selectedUserName = $("#ddlUserList option:selected").text();
            var userId = $("#ddlUserList option:selected").val();
            var name = $('#txtUserName').val();
            var email = $('#txtUserEmail').val();
            var DimensionId = $("#ddlDimensionList option:selected").val();
            var isActive = $("#chkIsActive")[0].checked;
            var isAdmin = $("#chkIsAdmin")[0].checked;

            $('#tbldata').find('tr').each(function () {
                var row = $(this);
                try {
                    isReadFlagChecked[i] = $(row).find('#chkReadFlag')[0].checked;
                    isUpdateFlagChecked[i] = $(row).find('#chkUpdateFlag')[0].checked;
                    isCeateFlagChecked[i] = $(row).find('#chkCreateFlag')[0].checked;
                    isImportFlagChecked[i] = $(row).find('#chkImportFlag')[0].checked;
                    RoleList[i] = $(row).find('#ddlRoleList')[0].value;
                    i++;
                }
                catch (ex) { }
            });
            $.post('@Url.Action("UpdateUserDetails", "Admin")', {
                readFlag: isReadFlagChecked, updateFlag: isUpdateFlagChecked, createFlag: isCeateFlagChecked,
                importFlag: isImportFlagChecked, RoleList: RoleList, SelectedUserName: selectedUserName, UserId: userId, UserName: name, Email: email,
                DimensionName: dimensionName, DimensionId: dimensionName, IsActive: isActive, IsAdmin: isAdmin
            },
           function (data) {
               if (data.indexOf("error") == 0) {
                   alert(data.replace("error", ""));
               }
               else {
                   alert('User Details Updated SuccesFully');
               }


           });

        });
        $(document).ready(function () {

            $(".dropdownchange").change(function (evt) {

                var selectedValue = evt.currentTarget.value;
                if (selectedValue == "") {
                    $('#divEntityDetail').empty();
                    return false;
                }

                $.post('@Url.Action("SearchEntity", "Admin")', { dimensionName: selectedValue },
            function (data) {

                if (data.indexOf("error") == 0) {
                    alert(data.replace("error", ""));
                }
                else {
                    $('#divEntityDetail').empty();

                    $('#divEntityDetail').html(data);
                }

            });


            });

        });
    </script>
