@model List<Model.Entity_Type_Attr_Detail>

<link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.min.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery-ui.min.js" asp-append-version="true"></script>
<script src="~/js/attribute.js"></script>

<script>
    function onBegin() {
        $('#divLoading').show();

    }
    function onSuccess(result) {
           debugger;
        if (result.length > 1000) {
            var fileId = "AttributeDetail";
            $('#' + fileId).html(result);


        }
        else {
            if (result.indexOf("error") == -1) {
                debugger;
                alert("Data Save Successfully");
                $.post('@Url.Action("ShowAttribute", "Menu")', { entityTypeId: '@Context.Session.GetInt32("EntityTypeID")', entityName: '@Context.Session.GetString("EntityName")', viewType: "search" },
                    function (data) {
                        if (data.indexOf("Access denied") > -1) {
                            alert(data);
                        }
                        else {
                            $('#AttributeDetail').empty();

                            $('#AttributeDetail').html(data);

                            $('#lblcaption').html('@Context.Session.GetString("EntityName")');
                            $('#viewPlaceHolder').empty();
                        }

                    });
            }
            else
                alert(result.replace("error", ""))
        }
    }


    function onComplete() {
        $('#divLoading').hide();
    }
</script>

<form id="formid">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0">
        <tr style="width:100%;height:31px;">
            <td colspan="2" style="padding-left:5px">
                @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
                {

                    <label style="color:#0f75da;font-family:Georgia;font-size:13pt;font-weight:bold">@Context.Session.GetString("SelectedDimensionData").ToString() ></label>
                    <label style="color:black;font-family:Georgia;font-weight:bold">@Context.Session.GetString("EntityName").ToString()</label>
                }

            </td>
        </tr>

        <tr style="width:100%">
            <td>
                <span style="height:30px">
                    <hr />
                </span>
            </td>

        </tr>


        <tr style="width:100%; height:25px">
            <td colspan="2" style="width: 100%;padding-left:10px;padding-top:10px;" align="left">
                <label style="color:#0f75da;font-size:12pt;font-weight:bold">Add New</label>

            </td>
        </tr>
        <tr>
            <td style="padding-left:10px;padding-right:10px;padding-bottom:20px" valign="top">
                <hr style="width:100%;height:2px;background-color:#084083;" />
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
        @foreach (var menuOption in Model)
        {

            if (@menuOption.Isvisible != "N")
            {
                <tr style="width: 100%;padding-top:10px">
                    <td style="width: 50%;padding-left:270px;">
                        @menuOption.AttrDisplayName
                    </td>
                    <td style="width: 50%" align="left">

                    @switch (@menuOption.DisplayType.ToLower())
                    {
                        case "textbox":
                            <input type="text" style="width:45%" maxlength="@menuOption.AttrLength" name="@menuOption.AttrName" id="@menuOption.AttrName" />
                            break;
                        case "datepicker":
                            <input type="text" style="width:45%" name="@menuOption.AttrName" id="@menuOption.AttrName" class="datepicker" />
                            break;
                        case "combobox":
                                <select id="@menuOption.AttrName" name="@menuOption.AttrName" style="width: 45%;">
                                    <option value="">--Select--</option>
                                    @foreach (var item in @menuOption.dropDownDataList)
                                    {
                                        <option value="@item.VALID_VALUES">@item.VALUE_NAME</option>
                                    }
                                </select>
                                break;
                        case "Parcombo":
                            @Html.DropDownListFor(m => menuOption.EntityTypeId, new SelectList(menuOption.dropDownDataList, "VALID_VALUES", "VALUE_NAME"), "--Select--", new {@id= menuOption.AttrName, @Name = menuOption.AttrName, style ="width: 45%;", @onchange = "CallChangefunc('" + menuOption.CasDrop + "', this.value)" })
                            break;
                        case "cascombo":
                            @Html.DropDownList(menuOption.AttrName, new SelectList(string.Empty, "Value", "Text"), "--Select--", new {@style = "width:45%;" })
                            break;
                        case "userbox":
                            <input type="text" style="width:45%" maxlength=@menuOption.AttrLength name=@menuOption.AttrName id=@menuOption.AttrName />
                            break;

                        default:
                            break;
                    }
                    </td>
                </tr>
            }
        }
        <tr style="width: 100%;padding-top:10px">
            <td style="width: 50%;padding-left:270px;">

                Effective Date
            </td>
            <td style="width: 50%" align="left">
                <input type="text" class="SortButton" style="width:45%" readonly name=txtEffectiveDate id=txtEffectiveDate />

            </td>
        </tr>
        <tr align="center" style="width: 100%; display:none" class="pageheadernfooter">
            <td style="width: 50%" align="right"></td>
            <td style="width: 50%" align="left">
                <input type="text" class="SortButton" style="width:45%" name="txtEditLevel" id="txtEditLevel" />

            </td>
        </tr>
        <tr align="center" style="width: 100%;padding-top:10px">
            <td></td>
            <td style="width: 50%" align="left">
                <button type="submit" class="button" id="btnSave" name="Command" value="Save" title="Save" style="width:75px;"><img src="~/Images/Import.png" alt="Save" /></button>
                <button type="submit" class="button" id="btnCancel" name="Command" value="Cancel" title="Cancel" style="width:75px;"><img src="~/Images/Export.png" alt="Cancel" /></button>
                <button type="submit" title="Ignore & Save" class="button" style="width:200px;display:none" id="btnSupress" name="Command" value="IgnoreSave"><img src="~/Images/AddNew.png" alt="Ignore & Save" /></button>

            </td>
        </tr>
        <tr align="center" style="width: 100%;">
            <td colspan="2" style="width: 100%" align="center">
                <div style="color:red" id="lblErrorMsg"></div>

            </td>
        </tr>

    </table>
    <div id="divLoading" class="loader">

        <img alt="Loading, please wait" style="position: absolute; top: 30%; left: 45%; width:110px; height:110px" src="~/Images/spinner.gif" />

    </div>
<input type="hidden" id="cmdName" name="cmdName" value="displayMessage" />

<div id="displayMessage"></div>
</form>
<script>
    $(document).ready(function () {
        debugger;
        $("#btnCancel").click(function () {
            $("#cmdName")[0].value = "AttributeDetail";
            $('#viewPlaceHolder').empty();

        });
        $(function () {
            $("#txtEffectiveDate").datepicker({
                changeMonth: true, changeYear: true, yearRange: "2023:2050"
            });
        });
        $('#formid').on('submit', submitFormWithAjax);
    });
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true, changeYear: true, yearRange: "2023:2050"
            });
        });
       

    

    function CallChangefunc(val, parcombo) {
        $('#' + val + '').empty();

        //alert(parcombo);

        $.ajax({
            type: "POST",
            url: "Search/GetCasCombo",
            datatype: "Json",
            data: { Id: parcombo, cId: val },
            success: function (data) {
                $('#' + val + '').append('<option value="">--Select--</option>');
                $.each(data, function (index, value) {
                    $('#' + val + '').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                });
            }
        });
    };

    function submitFormWithAjax(event) {
        event.preventDefault();
        let commandValue = $(document.activeElement).attr("value");
        // Declare an object to store the form data
        let form = {};

        // Loop through form elements and collect the data
        $('#formid input, #formid select').each(function () {
            form[$(this).attr('name')] = $(this).val();
        });
        form['Command'] = commandValue;
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveRecord", "AddNewRecord")',
            data: form,
            success: function (data) {
                debugger;
                // Update your DOM based on the received data.
                onSuccess(data);                
            },
            error: function (err) {
                console.error("Error", err);
            }
        });
    }

</script>

