@model List<Model.DimensionName>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.Title = "MPP";
    }
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <!-- Only import jQuery once and make sure it's before jQuery UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <!-- Only import jQuery UI once -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Only import jQuery Validation once -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Only import jQuery Validation Unobtrusive once -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="~/css/Masters.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/customNew.css" rel="stylesheet" />

</head>

<body>
    <!--Start Header -->
    <nav class="navbar navbar-expand-lg navbar-shadow customNavbar">
        <div class="container-fluid">
            <a class="navbar-brand" id="lblHome" href="#">
                <img src="~/Images/common/Logo-KOINE.png" class="logo-brand" alt="MPP Logo" />
                <div class="title-mpp">
                    <span>Master</span>
                    <span>Processing Platform</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @* <li class="nav-item" id=""><a class="nav-link" aria-current="home" href="#">Home</a></li> *@
                    @foreach (var item in Model.Select((value, i) => (value, i))){
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0);" id="Dimension" onclick="loadDimension('@item.value.Dimension', @item.i)">@(item.value.Dimension)</a></li>
                    }
                    <li class="nav-item" id="lblAdmin"><a class="nav-link" aria-current="home" href="#">Admin</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <a href="#" class="profile-dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="icon-profile">AS</span>
                    @* <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> *@
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li id="lblUserName"><a class="dropdown-item" href="#">Welcome: @TempData["UserName"]</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" id="lbllogOut">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @*<aside class="mainSidebar" id="trmenu">
        
        @if (Convert.ToString(TempData["ShowSubMenu"]) == "true")
        {
            @await Component.InvokeAsync("SubMenu");
        }*@
        @* <button class="sidebarToggleBtn">Sibar</button>
        </aside>*@
    <section class="mainWrapper">
        <div class="card box-shadow" id="trDropDownData2">
            <div class="card-body d-flex flex-wrap align-items-center justify-content-center">
                <img src="~/Images/homepage.png" class="img-mpp" alt="MPP Schema" />
            </div>
        </div>
        <div id="trContent">
            <div id="contentpage">
            </div>
        </div>
        <div id="trAdminContent" class="container-fluid page-body-wrapper">
            <div class="col" id="chromemenu">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="trAdminDisplayAllUsers" class="main-panel mt-4">
            <div class="lightRedBg" id="divDisplayAllUsers"></div>
            <div class="lightRedBg mt-4" id="divUserDetails"></div>
        </div>
    </section>    
    <!--End Header -->
    <div class="container-fluid page-body-wrapper" id="trDropDownData2">
        @* <div class="sidebar" id="trDropDownData">
        <div class="sidebar-menu">
        <h3>Menu</h3>
        <div class="list-group">

        </div>
        </div>
        </div> *@
        @* <div class="main-panel mt-4"> *@
        <div class="row">
            <div class="col">
            </div>
            @*  </div> *@

        </div>
    </div>


    

    <footer>
        <div class="container-fluid text-center">
            Copyright &copy; 2023 Coca Cola, Inc. All Rights Reserved
        </div>
    </footer>

    <div id="divLoad" class="loader">
        <img alt="Loading, please wait" style="display:none;position: absolute; top: 30%; left: 45%; width:110px; height:110px;" src="~/Images/spinner.gif" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/custome.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $(document).ajaxStart(function () {
                $('#divLoad').show();
            });

            $(document).ajaxComplete(function () {
                $('#divLoad').hide();
            });

        });
        
        function loadDimension(dimension, index) {
            var selectedIndex = index
            var selectedValue = dimension;
            var selectedDropdownValue = dimension;

            $.post('@Url.Action("Home", "Home")', {
                dropdownvalue: selectedValue,
                dropdowndata: selectedDropdownValue,
                selectedIndex: selectedIndex,
                actionType: 'Index'
            },
                function (data) {
                    if (data.indexOf("error") == 0) {
                        alert(data.replace("error", ""));
                    } else {
                        $('#contentpage').html(data);
                        $("#trContent").show();
                        $("#trDropDownData").hide();
                        $("#trDropDownData2").hide();
                        $("#trAdminContent").hide();
                        $("#trAdminDisplayAllUsers").hide();
                    }
                });
            $('body').addClass('sideOpen');

        }
        function redirect(dropDownValue, dropdowndata) {
            window.location.href = '/Home/Home?dropdownvalue=' + dropDownValue + '&dropdowndata=' + dropdowndata;
        }

        $("#lblHome").click(function () {
            // $("#lblHome").hide();
            $("#trContent").hide();
            $("#trDropDownData").show();
            $("#trDropDownData2").show();
            $("#trAdminContent").hide();
            $("#trAdminDisplayAllUsers").hide();
            $("#divDisplayAllUsers").hide();
            $('#ddlDimension option:eq(0)').attr('selected', 'selected');
        });
        $("#lbllogOut").click(function () {
            window.close();
            var objWindow = window.open(location.href, "_parent");
            objWindow.close();
        });
        $("#lblAdmin").click(function () {
            $.post('@Url.Action("GetAllUsers", "Admin")',
                function (data) {
                    if (data.indexOf("error") == 0) {
                        alert(data.replace("error", ""));
                    } else {
                        // $("#lblHome").show();
                        $("#trContent").hide();
                        $("#trDropDownData").hide();
                        $("#trDropDownData2").hide();
                        $("#trAdminContent").show();
                        $("#trAdminDisplayAllUsers").show();
                        $('#divDisplayAllUsers').show();
                        $('#divDisplayAllUsers').empty();
                        $('#divDisplayAllUsers').html(data);
                        $('#divUserDetails').empty();
                    }
                });
        });

        //Search Bar Open Hide
        function openSidebar() {
            document.getElementById("sidebarFilter").style.width = "250px"
        }
        function closeSidebar() {
            document.getElementById("sidebarFilter").style.width = "0px"
        }
    </script>

    <style>
        .label {
            cursor: pointer;
            color: white;
            text-decoration: underline;
        }
    </style>

</body>
</html>




