<style>
    body {
        background-color: whitesmoke;
    }
</style>

@model List<Model.DimensionName>

<link href="~/css/Masters.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Only import jQuery once and make sure it's before jQuery UI -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- Only import jQuery UI once -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Only import jQuery Validation once -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Only import jQuery Validation Unobtrusive once -->
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@{
    ViewBag.Title = "MPP";
}
<title>@ViewBag.Title</title>

<body>
    <table border="0" cellpadding="0" align="center" width="1004px">
        <tr>
            <td style="background-image:url('MPP/Images/Header_new1.png');height:110px;background-repeat:no-repeat;">
                <div id="mainmenu">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="75%"></td>
                            <td width="25%" align="left">
                                <table>
                                    <tr align="left" valign="top">
                                        <td>
                                            <label id="lblUserName" style="color:white">Welcome: @TempData["UserName"]</label>
                                        </td>
                                    </tr>
                                    <tr valign="bottom">
                                        <td valign="top" style="color:white">
                                            <label class="label" style="display:none" id="lblHome">Home</label>
                                            <label class="label" id="lblAdmin">Admin</label>
                                            <label class="label" id="lbllogOut">LogOut</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr id="trDropDownData">
            <td>
                <div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:3px; background-color: indianred;">
                        <tr>
                            <td align="center" style="background-color: indianred">
                                @Html.DropDownList("ddl", Model.Select(item=> new SelectListItem
                                {
                                Value = Convert.ToString(item.Dimension),
                                Text = Convert.ToString(item.Dimension.ToString())
                                }), "Please Select Dimension", new {@id = "ddlDimension", @class = "form-control"})
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; background-color: indianred;">
                                <img src="~/Images/homepage.png" height="500" alt="MPP Schema" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr id="trContent">
            <td>
                <div id="contentpage"></div>
            </td>
        </tr>
        <tr id="trAdminContent" style="background-image:url(MPP/Images/menuBG.png);background-repeat:repeat-x;height:100%;display:none">
            <td style="padding-left:140px;vertical-align:middle">
                <div id="chromemenu">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="100%">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr id="trAdminDisplayAllUsers">
            <td>
                <div class="lightRedBg" id="divDisplayAllUsers"></div>
                <div class="lightRedBg" id="divUserDetails"></div>
            </td>
        </tr>
        <tr style="background-color:lightcoral">
            <td height="20" align="center" class="blackText">Copyright &copy; 2023 Coca Cola, Inc. All Rights Reserved</td>
        </tr>
        <tr>
            <td valign="top">
                <div id="divLoad" class="loader">
                    <img alt="Loading, please wait" style="display:none;position: absolute; top: 30%; left: 45%; width:110px; height:110px;" src="~/Images/spinner.gif" />
                </div>
            </td>
        </tr>
    </table>
</body>

<script>
    $(document).ready(function () {

        $(document).ajaxStart(function () {
            $('#divLoad').show();
        });

        $(document).ajaxComplete(function () {
            $('#divLoad').hide();
        });
    });

    $("#ddlDimension").change(function () {
        var selectedIndex = this.options[this.selectedIndex].index;
        var selectedValue = this.options[this.selectedIndex].value;
        var selecteddropdownvalue = this.options[this.selectedIndex].text;

        $.post('@Url.Action("Home", "Home")', {
            dropdownvalue: selectedValue, dropdowndata: selecteddropdownvalue,
            selectedIndex: selectedIndex, actionType: 'Index'
        },
            function (data) {
                if (data.indexOf("error") == 0) {
                    $('#divLoad').hide();
                    alert(data.replace("error", ""));
                } else {
                    $('#divLoad').hide();
                    $('#contentpage').html(data);
                    $("#trContent").show();
                    $("#trDropDownData").hide();
                }
            });
    });

    function redirect(dropDownValue, dropdowndata) {
        window.location.href = '/Home/Home?dropdownvalue=' + dropDownValue + '&dropdowndata=' + dropdowndata;
    }

    $("#lblHome").click(function () {
        $("#lblHome").hide();
        $("#trContent").hide();
        $("#trDropDownData").show();
        $("#trAdminContent").hide();
        $("#trAdminDisplayAllUsers").hide();
        $("#divDisplayAllUsers").hide();
        $('#ddlDimension option:eq(0)').attr('selected', 'selected');
    });
    $("#lbllogOut").click(function () {
        window.close();
        var objWindow = window.open(location.href, "_parent");
        objWindow.close();
    });
    $("#lblAdmin").click(function () {
        $.post('@Url.Action("GetAllUsers", "Admin")',
            function (data) {
                if (data.indexOf("error") == 0) {
                    alert(data.replace("error", ""));
                } else {
                    $("#lblHome").show();
                    $("#trContent").hide();
                    $("#trDropDownData").hide();
                    $("#trAdminContent").show();
                    $("#trAdminDisplayAllUsers").show();
                    $('#divDisplayAllUsers').show();
                    $('#divDisplayAllUsers').empty();
                    $('#divDisplayAllUsers').html(data);
                    $('#divUserDetails').empty();
                }
            });
    });
</script>

<style>
    .label {
        cursor: pointer;
        color: white;
        text-decoration: underline;
    }
</style>