@{
    Layout = null;
}


        <link href="~/css/Masters.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




        <table width="1004px" border="1" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td style="background-image:url('../Images/Header_New.png');height:112px;background-repeat:no-repeat">
                    <div id="mainmenu">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="75%"></td>
                                <td width="25%" align="left">
                                    <table>
                                        <tr align="left" valign="top">
                                            <td>

                                            </td>
                                        </tr>
                                        <tr valign="bottom">
                                            <td valign="top" style="color:white">
                                                @Html.ActionLink("Home", "Index", "Home")
                                                @Html.ActionLink("Admin", "Menu", "DataBaseAdmin")
                                                @Html.ActionLink("Logout", "")
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="background-image: url('../../Images/menuBG.png');background-repeat:repeat-x">
                <td style="padding-left:140px;vertical-align:central">
                    <div id="chromemenu">
                        <table align="center" width="100%" border="0" cellpadding="0">
                            <tr>
                                <td width="100%">
                                    <table>
                                        <tr>
                                            <td>@Html.ActionLink("Add New Dimension", "AddDimension", "DataBaseAdmin")</td>
                                            <td>@Html.ActionLink("Add new Entity Type", "AddEntityType", "DataBasedmin")</td>
                                            <td>@Html.ActionLink("Add Attribute", "AddAttribute", "DataBaseAdmin")</td>
                                            <td>@Html.ActionLink("Add Entity Type Relationship", "AddEntityTypeRelationShip", "DataBaseAdmin")</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                    </div>
                </td>
             </tr>
             <tr>
                 <td>
                     <table width="100%" border="0" cellpadding="0" cellspacing="0">
                         <tr>
                             <td style="width:14.5%;background-color:white" valign="top">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                     <tr>
                                         <td>
                                             <table width="100%" border="0" cellpadding="0" cellspacing="1">
                                                 <tr style="background-image: url(/Images/Cl_heading.jpg);background-repeat:repeat-x;height:100%">
                                                     <td align="center">
                                                         <asp:Label ID="lblLeftPanelHeader" runat="server" Height="30px" Font-Bold="true"
                                                                    Font-Size="20px" Font-Names="" Width="100%"></asp:Label>
                                                     </td>
                                                 </tr>
                                                 <tr style="width:100%">
                                                     <td valign="top" style="vertical-align:top;width:100%"></td>
                                                 </tr>
                                             </table>
                                         </td>
                                     </tr>
                                 </table>
                             </td>
                            <td style="width:85.5%;height:100%" valign="top" class="darkRedBg">
                                 <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr class="darkRedBg">
                                        <td>
                                            <table width="100%" border="0" id="AttributeDetail" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td valign="top"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="padding:30px" class="darkRedBg">
                                        <td style="width:100%">
                                            <table style="border:1px solid #B88C8C" width="100%" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                 </table>
                             </td>
                         </tr>
                     </table>
                 </td>
             </tr>
             <tr>
                 <td></td>
             </tr>
        </table>
        <div class="container body-content">
            @RenderBody()
        </div>
