@model List<Model.Entity_Type_Attr_Detail>

<!-- Add the necessary CSS for jQuery UI -->
<link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.min.css" asp-append-version="true" />

<!-- Add both jQuery and jQuery UI script files -->
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery-ui.min.js" asp-append-version="true"></script>
<script src="~/js/Attribute.js" type="text/javascript"></script>


@if (ViewData.ModelState.IsValid)
{
    <table border="0" cellspacing="0" cellpadding="0" class="width-100 margin-top-0_1em inputFormDtls">
        <tr style="width:100%;height:31px;">
            <td colspan="2" style="padding-left:5px">
                @if (ViewData["SelectedDimensionData"] != null && ViewData["EntityName"] != null)
                {
                    <label style="color:#0f75da;font-family:Arial;font-size:12pt;font-weight:bold">@ViewData["SelectedDimensionData"].ToString()></label>
                    <label style="color:black;font-family:Arial;font-size:10pt;font-weight:bold">@ViewData["EntityName"].ToString()></label>
                }

            </td>
        </tr>

        <tr class="margin-top-2em" style="padding-top :40px">
            <td>
                <div class="width-100">
                    <span style="height:30px">
                        <hr>
                    </span>
                    @foreach (var menuOption in Model)
                    {
                        if (@menuOption.Isvisible != "N")
                        {
                            <span class="width-49 padding_0_2 fleft">
                                @if (@menuOption.DisplayType.ToLower() != "checkboxlist")
                                {
                                    if (@menuOption.AttrDisplayName.ToUpper() == ("SORT ORDER"))
                                    {
                                        <span class="fleft width-44 whiteText alignright">@menuOption.AttrDisplayName<label id="lblSORT_ORDER_FORMAT" class="sortlimit">(9999999999)</label></span>
                                    }
                                    else
                                    {
                                        <span class="fleft width-44 whiteText alignright">
                                            @menuOption.AttrDisplayName
                                        </span>
                                    }
                                }
                                <span class="pad_left_0_2">
                                    @switch (@menuOption.DisplayType.ToLower())
                                    {
                                        case "textbox":
                                            <input type="text" style="width:45%" maxlength="@menuOption.AttrLength" name="@menuOption.AttrName" id="@menuOption.AttrName" />
                                            break;
                                        case "datepicker":
                                            <input type="text" style="width:45%" name="@menuOption.AttrName" id="@menuOption.AttrName" class="datepicker" />
                                            break;
                                        case "combobox":
                                            @Html.DropDownListFor(m => menuOption.EntityTypeId, new SelectList(menuOption.dropDownDataList, "VALID_VALUES", "VALUE_NAME"), "--Select--", new {@id= menuOption.AttrName, @Name = menuOption.AttrName, style ="width: 45%;"})
                                            break;
                                        case "Parcombo":
                                            @Html.DropDownListFor(m => menuOption.EntityTypeId, new SelectList(menuOption.dropDownDataList, "VALID_VALUES", "VALUE_NAME"), "--Select--", new {@id= menuOption.AttrName, @Name = menuOption.AttrName, style ="width: 45%;", @onchange = "CallChangefunc('" + menuOption.CasDrop + "', this.value)" })
                                            break;
                                        case "cascombo":
                                            @Html.DropDownList(menuOption.AttrName, new SelectList(string.Empty, "Value", "Text"), "--Select--", new {@style = "width:45%;" })
                                            break;
                                        case "userbox":
                                            <input type="text" style="width:45%" maxlength=@menuOption.AttrLength name=@menuOption.AttrName id=@menuOption.AttrName />
                                            break;

                                        default:
                                            break;
                                    }
                                </span>
                            </span>
                        }
                    }
                    <span class="width-49 padding_0_2 fleft">
                        <span class="fleft width-44 whiteText alignright">Effective Date From</span>
                        <span class="pad_right_2" style="margin-left:3px">
                            <input type="text" readonly style="width:19%" name="txtFrom" id="txtFrom" /> To
                            <input type="text" readonly style="width:20%" name="txtTo" id="txtTo" />
                        </span>
                    </span>
                </div>
            </td>
        </tr>
        <tr align="center" style="width:100%;padding-top:10px">
            <td style="width:50%" align="center" colspan="2">
                <button type="submit" id="btnSearch" style="width: 40px; height: 20px; background: none;" name="Command" value="Search">
                    <img src="~/Images/Search_Button.PNG" style="height: 25px;width: 25px;" />
                </button>
                <div style="color:red" id="lblSearchWarnings"></div>
            </td>
        </tr>
    </table>
    <div ID="tableHeaderDiv">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr valign="middle" style="background-image:url('/wwwroot/Images/TableTop.jfif');background-repeat:repeat-x;height:100%">
                <td height="40" class="whiteTextNormal">
                    @if (ViewData["EntityName"] != null)
                    {
                        <label class="whiteTextNormal" id="lblcaption">@ViewData["EntityName"].ToString()</label>
                    }
                    <span class="whiteTextNormal">
                        Total Records: <strong>
                            <label id="lblTotalRecords">0</label>
                        </strong>
                    </span> | <span class="whiteTextNormal">
                        Total Pages :
                        <label class="whiteTextNormal" id="lblCurrentPagesDetails">0</label>
                    </span>
                </td>
                <td height="40" class="whiteTextNormal">
                    <button type="submit" class="button" id="btnWorkFlow" name="Command" title="WorkFlow" value="WorkFlow"><img class="Image" src="~/Images/Workflow.png" style="height: 25px;width: 25px;" /></button>
                    <button type="submit" class="button" id="btnViewAll" name="Command" title="ViewAll" value="ViewAll"><img class="Image" src="~/Images/ViewAll.png" style="height: 25px;width: 25px;" /> </button>
                    <button type="submit" class="button" id="btnImport" name="Command" title="Import" value="Import"><img class="Image" src="~/Images/Import.png" style="height: 25px;width: 25px;" /> </button>
                    <button type="submit" class="button" id="btnExport" name="Command" title="Export" value="Export"><img class="Image" src="~/Images/Export.png" style="height: 25px;width: 25px;" /> </button>
                    <button type="submit" class="button" id="btnAddNew" name="Command" title="AddNew" value="AddNew"><img class="Image" src="~/Images/AddNew.png" style="height: 25px;width: 25px;" /> </button>
                </td>
            </tr>
        </table>
        <div id="divLoading" class="loader">
            <img alt="Loading, please wait" style="position:absolute; top: 30px; left: 45%; width:110px; height:110px" src="~/Images/spinner.gif" />
        </div>
        <input type="hidden" id="cmdName" name="cmdName" value="viewPlaceHolder" />
    </div>

}
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            changeMonth: true, changeYear: true, yearRange: "2023:2050"
        });
    });
    function CallChangefunc(val, parcombo){
        $('#' + val + '').empty();
    }


    function CallChangefunc(val, parcombo) {
        $('#' + val + '').empty();

        $.ajax({
            type: "POST",
            url: "Search/GetCasCombo",
            datatype: "Json",
            data: { Id: parcombo, cId: val },
            success: function (data) {
                $('#' + val + '').append('<option value="">--Select--</option>');
                $.each(data, function (index, value) {
                    $('#' + val + '').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                });
            }
        });
    };
</script>


