@{
    var dataList = (List<Dictionary<string, string>>)(TempData["dataList"]);


    if (dataList.Count() > 0)
    {
        //<nav aria-label="breadcrumb">
        //    <ol class="breadcrumb rounded-3">
        //        @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
        //        {
        //            <li class="breadcrumb-item">
        //                <a class="link-body-emphasis" href="#">
        //                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
        //                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
        //                    </svg>
        //                    <span class="visually-hidden">Home</span>
        //                </a>
        //            </li>
        //            <li class="breadcrumb-item">
        //                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">@Context.Session.GetString("SelectedDimensionData").ToString()</a>
        //            </li>
        //            <li class="breadcrumb-item active" aria-current="page">
        //                @Context.Session.GetString("EntityName").ToString()
        //            </li>
        //        }
        //    </ol>
        //</nav>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb rounded-3">
                @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
                {
                    <li class="breadcrumb-item">
                        <span class="link-body-emphasis">@Context.Session.GetString("SelectedDimensionData").ToString()</span>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"> @Context.Session.GetString("EntityName").ToString() </li>
                }
            </ol>
        </nav>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">@Context.Session.GetString("SelectedDimensionData").ToString()</h1>
        </div>
        <div class="card box-shadow">
            <div class="card-header">
                <h5 class="mb-0">History @Context.Session.GetString("EntityName").ToString()</h5>
            </div>
            <div class="card-body">
            <ul class="legend">
                    <li class="title-legend">LEGEND</li>
                    <li class="item-legend not-modi">Not modified</li>
                    <li class="item-legend modified">Modified cells</li>
            </ul>
                            
                 
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr valign="middle" align="left" style="background-image:url(/wwwroot/Images/TableTop1.jpg);background-repeat:repeat-x;height:100%">
                            <td height="40" class="whiteTextNormal">
                                <label asp-for="@Context.Session.GetString("EntityName").ToString()" class="whiteTextNormal"></label>
                                <span class="whiteTextNormal">
                                    Total Records : <strong>
                                        @Html.Label(dataList.Count().ToString())
                                    </strong>
                                </span>
                            </td>
                        </tr>
                    </table>
                    @if (ViewData.ModelState.IsValid)
                    {
                        <div>
                            @if (dataList != null && dataList.Count() > 0)
                            {
                                <div style="display:none">totalrecord dataList.Count()</div>
                                <div class="panelDataGridSearch table-responsive">
                                <table border="0" id="tblHistorydata" rules="cols" class="table table-bordered table-data">
                                        <thead>
                                            <tr class="gridheader resultHeader">
                                                @foreach (var data in dataList)
                                                {
                                                    foreach (var item in data)
                                                    {
                                                        <th>
                                                            <label class="colorWhite">@item.Key.ToString()</label>

                                                        </th>
                                                    }
                                                    break;
                                                }
                                            </tr>
                                        </thead>
                                        @foreach (var data in dataList)
                                        {
                                            <tr class="trgriddata">
                                                @foreach (var item in data)
                                                {
                                                    <td>
                                                        @if (item.Key.ToString() == "Effective Date")
                                                        {
                                                            @Convert.ToDateTime(@item.Value).ToShortDateString()
                                                        }
                                                        else
                                                        {
                                                            <a class="griddata">
                                                                @item.Value.ToString()
                                                            </a>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 10px;">
                                    <tr align="center" style="width: 100%;padding-top:10px">
                                        <td style="width: 100%" align="center">
                                        <input type="button" id="btnCancel" value="Cancel" src="~/images/cancel.png" alt="Cancel" class="btn btn-primary">
                                        </td>
                                    </tr>                                   
                                </table>
                            }
                        </div>
                    }
            
            </div>
        </div>
    }
}
<script>
    $(document).ready(function () {
        var table = $('#tblHistorydata'),

            rows = table.find('tr'), cells, background, code;
        for (var i = 0; i < rows.length; i += 1) {
            if (i != 0) {
                // $(rows[i]).css('background-color', '#f5c4c4');
            }
            var entityData = [];
            cells = $(rows[i]).children('td');
            for (var j = 0; j < cells.length; j += 1) {
                entityData[j] = $(cells[j]).text().replace("\n", "").trim();
            }

            if (entityData.length != 0) {
                cells = $(rows[i + 1]).children('td');

                for (var j = 0; j < cells.length; j += 1) {
                    var data = $(cells[j]).text().replace("\n", "").trim();
                    if (data != entityData[j]) {

                        if (i % 2 != 0) {
                            // $(cells[i]).css('background-color', '#fde294');
                            background = '#fde294';
                        }
                        else {
                            background = '#fff6ca';

                        }
                        $(cells[j]).css('background-color', background)
                    }
                }
            }
        }

        $("#btnCancel").click(function () {
            $('#AttributeDetail').empty();
            $('#viewPlaceHolder').empty();
            $.post('@Url.Action("ShowAttribute", "Menu")', { entityTypeId: '@Context.Session.GetInt32("EntityTypeID")', entityName: '@Context.Session.GetString("EntityName")', viewType: "search" },
                function (data) {
                    if (data.indexOf("error") == 0) {


                        alert(data.replace("error", ""));

                    }
                    else {
                        $('#AttributeDetail').html(data);
                    }
                });

        });



    });

</script>