@using Newtonsoft.Json;
@if (ViewData.ModelState.IsValid & (Context.Session.GetString("SelectedDimensionData") != null & Context.Session.GetString("EntityName") != null))
{
    string serializedList1 = TempData["columnData"] as string;
    var columnData = JsonConvert.DeserializeObject<string>(serializedList1);
    TempData.Keep();

    string[] colName = Convert.ToString(columnData).Split(',');

    string serializedList2 = TempData["ListOfRecordsForUpdate"] as string;
    var ListOfRecordsForUpdate = JsonConvert.DeserializeObject<List<Dictionary<string, string>>>(serializedList2);
    TempData.Keep();
    string[] spliEntityName = Context.Session.GetString("EntityName").ToString().Trim(' ').Split(' ');

    var entityName = "";
    foreach (var item in ListOfRecordsForUpdate[0].Keys)
    {
        if (item.ToString().Split('_').Last().ToLower() == "oid")
        {
            entityName = item.ToString().Trim().Split('_')[0].ToString();
            break;
        }
    }
    if (entityName.ToLower().Trim() != spliEntityName[0].ToString().Trim().ToLower())
    {
        spliEntityName[0] = entityName;
    }

    if (ListOfRecordsForUpdate.Count() > 0)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb rounded-3">
                @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
                {
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="/Home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                            </svg>
                            <span class="visually-hidden">Home</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">@Context.Session.GetString("SelectedDimensionData").ToString()</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @Context.Session.GetString("EntityName").ToString()
                    </li>
                }
            </ol>
        </nav>
        @* <nav aria-label="breadcrumb">
            <ol class="breadcrumb rounded-3">
                @if (Context.Session.GetString("SelectedDimensionData") != null && Context.Session.GetString("EntityName") != null)
                {
                    <li class="breadcrumb-item">
                        <span class="link-body-emphasis">@Context.Session.GetString("SelectedDimensionData").ToString()</span>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"> @Context.Session.GetString("EntityName").ToString() </li>
                }
            </ol>
        </nav> *@
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Mass Update</h1>
        </div>
        <div class="card box-shadow">
            <div class="card-header">
                <h5 class="mb-0">Selected @Context.Session.GetString("EntityName").ToString()</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="whiteTextNormal">
                            Total Records : <strong>
                                <span class="whiteTextNormal" id="lblTotalRecords">@ListOfRecordsForUpdate.Count()</span>
                            </strong>
                        </span> | <span class="whiteTextNormal">
                            <label class="whiteTextNormal" id="lblPageDetails"></label>
                        </span>
                    </div>
                    <div class="col d-none">
                        <div class="btn-toolbar btn-main-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                <span class="btn btn-sm btn-outline-secondary openBtn" onclick="openSidebar()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                                    </svg>
                                    Update
                                </span>
                                
                            </div>
                            
                        </div>
                    </div>
            </div>
                    @* <table width="100%" border="0" cellspacing="0" cellpadding="8">
                        <tr valign="middle" style="background-image:url(/wwwroot/Images/TableTop1.jpg);background-repeat:repeat-x;height:100%">
                            <td height="40" class="whiteTextNormal">
                                
                            </td>
                        </tr>
                    </table> *@

                    <div class="panelDataGridSearch">
                        <table border="0" id="tblsearchdata" rules="cols" class="alternate_color table table-border table-data">
                            <thead>
                                <tr class="gridheader resultHeader">

                                    @foreach (var data in colName)
                                    {
                                        if (data == "Current Edit Level" || data == "OID") //INPUT_ROW_ID
                                        { continue; }
                                        else
                                        {
                                            <th>
                                              <label class="colorWhite">@data</label>
                                            </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            @foreach (var item in ListOfRecordsForUpdate)
                            {
                                <tr class="trgriddata">
                                    @foreach (var data in item)
                                    {
                                        if (data.Key == "DATE_FROM")
                                        {
                                            <td class="griddata">
                                                @Convert.ToDateTime(@data.Value).ToShortDateString()
                                            </td>
                                        }
                                        else if (data.Key == "CURRENT_EDIT_LEVEL" || data.Key == "INPUT_ROW_ID")
                                        {
                                            <td style="display:none" id="tdCurrentEditLevel">
                                                <input type="hidden" name="hdnCurrentEditLevel" id="hdnCurrentEditLevel" value=@data.Value />
                                            </td>
                                        }
                                        else if (data.Key.Contains("OID") & data.Key.Contains(spliEntityName[0].ToString().ToUpper()))
                                        {
                                            continue;
                                        }
                                        else
                                        {
                                            <td class="griddata">
                                                @data.Value
                                            </td>
                                        }

                                    }

                                </tr>
                            }

                        </table>

                    </div>
            </div>
        </div>

    }
}
else
{
    <script>alert('Session expire. Please login again')</script>
}
